/* ----------------------------------------------------------
/* effect
/* 効果
/* ---------------------------------------------------------- */

/** Transition */
.fade-enter-active {
  transition: opacity 1s ease-in
}
.fade-leave-active {
  transition: opacity .1s ease-out
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/** Img filter */
.effect_img-filter {
  filter: sepia(30%);
  transition: filter 0.3s;
  &:hover {
    filter: sepia(0);
  }
}
