/* ----------------------------------------------------------
/* media query
/* ---------------------------------------------------------- */
@mixin mq {
  @media (max-width: $break-point) {
    @content;
  }
}

@mixin mq-min {
  @media (min-width: $content-size) {
    @content;
  }
}

@mixin mq-sm {
  @media (max-width: $b-small-max) {
    @content;
  }
}

@mixin mq-md-min {
  @media (min-width: $b-medium-min) {
    @content;
  }
}

@mixin mq-md {
  @media (max-width: $b-medium-max) {
    @content;
  }
}

@mixin mq-lg-min {
  @media (min-width: $b-large-min) {
    @content;
  }
}

@mixin mq-lg {
  @media (max-width: $b-large-max) {
    @content;
  }
}

/* ----------------------------------------------------------
/* thumbnail
/* ---------------------------------------------------------- */
@mixin thumbnail($height: 61.804%) {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: $height;
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform .3s;
    &:hover {
      transform: scale(1.35);
    }
  }
}

/* ----------------------------------------------------------
/* media query
/* ---------------------------------------------------------- */
@mixin resolution2x {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx){
    @content;
  }
}

@mixin resolution3x {
  @media only screen and (-webkit-min-device-pixel-ratio: 3),(min-resolution: 3dppx){
    @content;
  }
}

/* ----------------------------------------------------------
/* placeholder
/* ---------------------------------------------------------- */
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}
