/* ----------------------------------------------------------
/* variables
/* 変数
/* ---------------------------------------------------------- */

$main-color: #94540d;
$main-sub-color: #fccdc5;
$base-color: #ffeec9;
$text-color: #524747;

$thin-gray: #f7f7f7;

$line-color: lighten($text-color, 50%);

$bg-color: $base-color;
$bg-color1: #fff;
$bg-color2: $base-color;
$bg-color3: $main-sub-color;
$link-color: $main-color;


/* ----------------------------------------------------------
/* break point
/* ---------------------------------------------------------- */

$content-size: 1000px;
$break-point: $content-size - 1px; 

$b-small-max: 480px;
$b-medium-min: $b-small-max + 1;
$b-medium-max: 768px;
$b-large-min: $b-medium-max + 1;
$b-large-max: 1024px;
