@charset 'utf-8';
@import '../lib/font-awesome/scss/font-awesome';
@import '_reset.css';

/** Variables */
$c-text: hsl(50, 20%, 20%);
//$c-link: hsl(200, 50%, 60%);
$c-link: hsl(9, 55%, 50%);

$b-small-max: 480px;
$b-medium-min: $b-small-max + 1;
$b-medium-max: 768px;
$b-large-min: $b-medium-max + 1;
$b-large-max: 1024px;
$b-xlarge-min: $b-large-max + 1;
$b-xlarge-max: 1200px;


/** v-cloak */
[v-cloak] {
  display: none;
}
/** Transition */
.fade-enter-active {
  transition: opacity 1s ease-in
}
.fade-leave-active {
  transition: opacity .1s ease-out
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/** common */
html {
  color: $c-text;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.6rem;
  line-height: 1.8;
}
@media (max-width: $b-small-max) {
  body {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/** Link */
a {
  color: $c-link;
  text-decoration: none;
  &:hover, &.hover {
    text-decoration: underline;
  }
}

/** Box */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** wrapper */
.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
@media (max-width: $b-medium-max) {
  .wrapper {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

/** Header */
.header-nav, .footer-nav {
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: $c-text;
  }
}
/** Header Contents */
.header-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.site-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.0rem;
  tranition: 1s;
  a {
    color: $c-text;
    &:hover, &.hover {
      text-decoration: none;
    }
  }
}
.header-nav {
  a {
    font-size: 1.4rem;
    font-weight: bold;
    color: $c-text;
    &:hover, &.hover {
      text-decoration: none;
      border-bottom-color: currentColor;
    }
  }
}
@media (max-width: $b-medium-max) {
  .header-nav {
    li {
      padding-bottom: 10px;
    }
  }
  .is-true {
    .site-title {
      margin-bottom: 10px;
      font-size: 1.6rem;
    }
  }
}
@media (min-width: $b-large-min) {
  header, .header-nav {
    text-align: left;
  }
  .header-outer::after {
    content: '';
    display: block;
    overflow: hidden;
  }
  .site-title {
    float: left;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 2.0rem;
  }
  .header-nav {
    float: right;
    ul {
      margin-right: 16px;
    }
    a {
      display: inline-block;
      padding: 16px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.3s;
    }
  }
}

/** Footer */
.footer-nav {
  margin-top: 100px;
  font-size: 1.4rem;
}
.copyright-box {
  margin: 10px 0 30px;
  font-size: 1.2rem;
  color: #666;
}

nav, footer {
  text-align: center;
}

/** Content */
.common-tags {
  li {
    display: inline-block;
    font-size: 1.2rem;
    & +li {
      margin-left: 6px;
    }
  }
}

.common-thumb-box {
  position: relative;
  overflow: hidden;
}
.common-thumb-image {
  display: block;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -55%);
  width: 120%;
  height: auto;
}

.product-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/** Common more box */
.common-more-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  .more-link {
    display: block;
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid CurrentColor;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover, &.hover {
      text-decoration: none;
      color: #fff;
      background-color: $c-link;
    }
  }
}

/** Profile */
.profile-lists {
  list-style: circle;
  list-style-position: outside;
  margin-left: 30px;
  font-size: 1.4rem;
}
.profile-paragraph {
  font-size: 1.4rem;
}

/** Pickup */
.pickup-box-inner{
  width: $b-large-min;
  margin: 0 auto;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.pickup-box {
  background-color: #fff;
  width: 360px;
  float: left;
  margin-top: 10px;
  padding: 16px;
  & + .pickup-box {
    margin-left: 49px;
  }
}
.pickup-box-outer {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

@media (max-width: $b-medium-max) {
  .pickup-box-outer {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .pickup-box-inner {
    width: 100%;
  }
  .pickup-box {
    max-width: 480px;
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    & + .pickup-box {
      margin-top: 30px;
      margin-left: auto;
    }
  }
}
.pickup-image-box {
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  height: 180px;
  filter: sepia(30%);
  transition: filter 0.3s;
  &:hover, .hover {
    filter: sepia(0);
  }
}
@media (max-width: $b-small-max) {
  .pickup-image-box {
    height: 150px;
  }
}
.pickup-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  a {
    color: $c-text;
  }
}

/** common contents */
.common-box-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: $b-small-max) {
  .common-box-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-content-box,
.contact-content-box {
  position: relative;
  margin-top: -13px;
  width: 100%;
  &:before {
    position: absolute;
    top: -20px;
    content: '';
    display: block;
    width: 100%;
    height: 30px;
  }
}

.about-content-box {
  padding-bottom: 50px;
}

.contact-content-box {
  padding-bottom: 50px;
}

.common-article-title {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

/** Profile */
.top-profile-box {
  background-color: #fff;
  padding: 40px 60px;
}
@media (max-width: $b-small-max) {
  .top-profile-box {
    background-color: #fff;
    padding: 10px;
  }
}
.profile-thumb-box {
  float: right;
  margin-top: 40px;
  margin-left: 40px;
}
.profile-more-link {
  text-align: right;
}
@media (max-width: $b-medium-max) {
  .profile-thumb-box {
    float: none;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }
  .profile-title {
    text-align: center;
  }
  .top-profile-lists {
    font-size: 1.2rem;
  }
}
/** Contact */
.top-contact-box {
  background-color: #fff;
  padding: 40px 60px;
  text-align: center;
}
.top-contact-link {
  &:after {
    content: '';
    display: inline-block;
    border-top: 1px solid $c-link;
    border-right: 1px solid $c-link;
    width: 6px;
    height: 6px;
    transform: rotate(45deg) translate(0px, -3px);
  }
}
.sns-box {
  margin-top: 20px;
  text-align: center;
}
.sns-link {
  margin: 0 5px;
  font-size: 30px;
  color: #666;
  &:hover {
    color: #444;
  }
}

/** top wrapper header */
@keyframes bgGradient {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

.top-wrapper-header {
  position: relative;
  height: 400px;
  background: linear-gradient(135deg, #ffedad 0%, #f5a070 100%);
}

@media (max-width: $b-small-max) {
  .top-wrapper-header {
    height: 40vh;
  }
}
$width: 800px;
.img-top-catch {
  position: absolute;
  bottom: 0;
  left: calc(50% - #{$width} / 2);
  max-width: $width;
}
@media (max-width: 800px) {
  .img-top-catch {
    left: 0;
  }
}
