/** common */
.common_tags {
  li {
    display: inline-block;
    font-size: 1.2rem;
    & +li {
      margin-left: 6px;
    }
  }
}

.common_thumb-box {
  position: relative;
  overflow: hidden;
}
.common_thumb-image {
  display: block;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -55%);
  width: 120%;
  height: auto;
}

.product_image {
  max-width: 100%;
  height: auto;
  display: block;
}

/** Common more box */
.common_more-box {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  .more-link {
    display: block;
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid CurrentColor;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover, &.hover {
      text-decoration: none;
      color: #fff;
      background-color: $c-link;
    }
  }
}

/** common contents */
.common_box-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px;
  @media (max-width: $b-small-max) {
    padding: 30px 20px;
  }
}

.about_content-box,
.contact_content-box {
  position: relative;
  margin-top: -13px;
  width: 100%;
  &:before {
    position: absolute;
    top: -20px;
    content: '';
    display: block;
    width: 100%;
    height: 30px;
  }
}

.about_content-box {
  padding-bottom: 50px;
}

.contact_content-box {
  padding-bottom: 50px;
}

.common_article-title {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
}
