/* ----------------------------------------------------------
/* footer
/* フッターのスタイル
/* ---------------------------------------------------------- */

.footer {
  margin: 100px 0 30px;
}

.footer-nav {
  font-size: 1.6rem;
  text-align: center;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
}

.footer_copyright {
  margin-top: 10px;
  font-size: 1.2rem;
  color: lighten($text-color, 30%);
}

footer {
  text-align: center;
}
