/* ----------------------------------------------------------
/* header
/* ヘッダーのスタイル
/* ---------------------------------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(255,255,255, 0.8);
}

.header_inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-md {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
  }
}

.header_title {
  margin: 0;
  font-size: 2.0rem;
  font-weight: normal;
  line-height: 1;
  @include mq-md {
    flex-basis: 100%;
    margin-top: 22px;
  }
}

.header_title-link {
  padding: 20px;
  color: $text-color;
  text-decoration: none;
  @include mq-md {
    padding: 0;
  }
}

