/* ----------------------------------------------------------
/* page
/* 下層ページのスタイル
/* ---------------------------------------------------------- */

.page {
  box-sizing: border-box;
  max-width: calc(16px * 42);
  padding: 0 24px;
  margin: 160px auto;
}

.page_headline {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 40px; 
}