/* ----------------------------------------------------------
/* section
/* セクションに関わるスタイル
/* ---------------------------------------------------------- */

.section {
  margin-bottom: 80px;
  @include mq-sm {
    margin-bottom: 40px;
    font-size: 1.4rem;
    h2 {
      font-size: 2.0rem;
    }
  }
}

.section_inner {
  max-width: $content-size;
  margin: 0 auto;
  padding: 60px 60px 80px;
  @include mq-sm {
    padding: 30px 20px 50px;
  }
}

.section_headline {
  font-size: 2.8rem;
  padding-bottom: 4px;
  border-bottom: 1px solid #d0c8c8;
}
