/** Pickup */
.pickup-box-inner {
  width: $b-large-min;
  margin: 0 auto;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.pickup-box {
  background-color: #fff;
  width: 360px;
  float: left;
  margin-top: 10px;
  padding: 16px;
  & + .pickup-box {
    margin-left: 49px;
  }
}
.pickup-box-outer {
  position: relative;
  max-width: 1200px;
  margin: 60px auto;
  @media (max-width: $b-medium-max) {
      padding-left: 10px;
      padding-right: 10px;
      margin: 50px 0;
  }
}

@media (max-width: $b-medium-max) {
  .pickup-box-inner {
    width: 100%;
  }
  .pickup-box {
    max-width: 480px;
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    & + .pickup-box {
      margin-top: 30px;
      margin-left: auto;
    }
  }
}
.pickup-image-box {
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  height: 180px;
  filter: sepia(30%);
  transition: filter 0.3s;
  &:hover, .hover {
    filter: sepia(0);
  }
}
@media (max-width: $b-small-max) {
  .pickup-image-box {
    height: 150px;
  }
}
.pickup-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  a {
    color: $c-text;
  }
}
