/** Pickup */
.pickup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pickup_box {
  flex-basis: 360px;
  margin: 32px 0;
  @include mq-md {
    flex-basis: 100%;
    margin: 0 32px 32px;
  }
}

.pickup_name {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
}
