/** Profile */
.profile_lists {
  list-style: circle;
  list-style-position: outside;
  margin-left: 30px;
}

.top-profile_box {
  background-color: #fff;
  padding: 40px 60px;
}
@media (max-width: $b-small-max) {
  .top-profile_box {
    background-color: #fff;
    padding: 10px;
  }
}
.profile_thumb-box {
  float: right;
  margin-top: 40px;
  margin-left: 40px;
}
.profile_more-link {
  text-align: right;
}
@media (max-width: $b-medium-max) {
  .profile_thumb-box {
    float: none;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }
  .profile_title {
    text-align: center;
  }
}
