/** Profile */
.profile_lists {
  list-style: circle;
  list-style-position: outside;
  margin-left: 30px;
}

.top-profile_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px 60px;
  @include mq-sm {
    background-color: #fff;
    padding: 10px;
  }
}

.profile_thumb {
  display: flex;
}

.profile_name {
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
}

.profile_small {
  margin-left: 10px;
  font-size: 1.8rem;
}

.profile_role {
  font-size: 1.4rem;
}

.profile_sns {
  font-size: 1.4rem;
  a {
    margin-right: 8px;
    text-decoration: none;
  }
  i {
    font-size: 120%;
    margin-right: 3px;
  }
}

.profile_other {
  margin-top: 8px;
}