/** Top */

/** top wrapper header */
@keyframes bgGradient {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

.top-wrapper-header {
  position: relative;
  height: 400px;
  background: linear-gradient(135deg, #ffedad 0%, #f5a070 100%);
}

@media (max-width: $b-small-max) {
  .top-wrapper-header {
    height: 40vh;
  }
}
$width: 800px;
.img-top-catch {
  position: absolute;
  bottom: 0;
  left: calc(50% - #{$width} / 2);
  max-width: $width;
}
@media (max-width: 800px) {
  .img-top-catch {
    left: 0;
  }
}

.top_box {
  &.about_box {
    background-color: $bg-color2;
  }
  &.contact_box {
    background-color: $bg-color3;
  }
}

.top_box-title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.top_pickup_box-outer {
  max-width: 1200px;
  margin: 100px auto;
}

.top_pickup_box-inner {
  width: $b-large-min;
  margin: 0 auto;
  @media (max-width: $b-medium-max) {
    width: 100%;
  }
}
