/* ----------------------------------------------------------
/* top
/* トップページのスタイル
/* ---------------------------------------------------------- */

@keyframes bgGradient {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

.top-wrapper-header {
  position: relative;
  height: 400px;
  background: linear-gradient(135deg, #ffedad 0%, #f5a070 100%);
}

@include mq-sm {
  .top-wrapper-header {
    height: 40vh;
  }
}
$width: 800px;
.img-top-catch {
  position: absolute;
  bottom: 0;
  left: calc(50% - #{$width} / 2);
  max-width: $width;
}
@media (max-width: 800px) {
  .img-top-catch {
    left: 0;
  }
}

.top_about {
  background-color: $bg-color2;
}
.top_contact {
  background-color: $bg-color3;
}

.top_works {
  max-width: 1200px;
  margin: 100px auto;
}

.top_works-inner {
  width: $b-large-min;
  margin: 0 auto;
  @include mq-md {
    width: 100%;
  }
}

.top_about-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px 60px;
  @include mq-sm {
    background-color: #fff;
    padding: 10px;
  }
}

.top_contact-inner {
  background-color: #fff;
  padding: 40px 60px;
  text-align: center;
}
