/* ----------------------------------------------------------
/* top
/* トップページのスタイル
/* ---------------------------------------------------------- */

.top_catch {
  height: 400px;
  background: linear-gradient(135deg, #ffedad 0%, #f5a070 100%);
  @include mq-sm {
    height: 40vh;
  }
}

.top_catch-inner {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.top_works {
  max-width: 1200px;
  margin: 100px auto;
}

.top_works-inner {
  width: $b-large-min;
  margin: 0 auto;
  @include mq-md {
    width: 100%;
  }
}

.top_about {
  background-color: $bg-color2;
}

.top_about-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px 60px;
  @include mq-sm {
    background-color: #fff;
    padding: 16px;
    flex-wrap: wrap-reverse;
  }
}

.top_contact {
  background-color: $bg-color3;
}

.top_contact-inner {
  background-color: #fff;
  padding: 40px 60px;
  text-align: center;
}
