/* ----------------------------------------------------------
/* works
/* worksのスタイル
/* ---------------------------------------------------------- */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works_box {
  flex-basis: 360px;
  margin: 32px 0;
  @include mq-md {
    flex-basis: 100%;
    margin: 0 32px 32px;
  }
}

.works_name {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
}

// 一覧のページ
.works_list {
  list-style: none;
  margin: 0;
}

.works_item {
  margin-top: 100px;
}

.works_list-title {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 1.8rem;
  text-align: center;
  color: $text-color;
}

.works_list-detail {
  margin-top: 16px;
  text-align: right;
}

.works_description {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.works_year {
  font-size: 1.3rem;
  color: #666;
  margin-top: 0;
  margin-bottom: 0;
}

.works_detail-detail {
  margin: 32px 0;
}
