/* ----------------------------------------------------------
/* common
/* 基本的なスタイル
/* ---------------------------------------------------------- */

body,
div,
iframe,
blockquote,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
input,
textarea,
table,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
main {
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}